@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
    font-size: 18px;
}

body {
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    max-width: 325px;
    height: 540px;
    background-color: hsl(216, 50%, 16%);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
}
img {
    display: block;
    object-fit: cover;
}

figure img {
    border-radius: 0.5rem;
    max-width: 100%;
}
figure:hover {
    cursor: pointer;
    background-color: hsl(178, 100%, 50%);
    transition: all 0.3s ease 0s;
}
h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.25rem;
}
h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
p {
    color: hsl(215, 51%, 70%);
}
.price-container {
    display: flex;
    justify-content: space-between;
}
.ethereum {
    display: flex;
}
.ethereum p {
    color: hsl(178, 100%, 50%);
    margin-left: 0.5rem;
    font-size: 0.9rem;
}
.time-left {
    display: flex;
}
.time-left p {
    margin-left: 0.5rem;
    font-size: 0.9rem;
}
.line {
    border-top: 1px solid hsl(215, 32%, 27%);
    margin: 5px;
}

.author-container {
    display: flex;
    align-items: center;
}
.author-container img {
    max-width: 30px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}
.author-container p {
    margin-left: 1rem;
    font-size: 0.9rem;
}
span {
    font-size: 0.9rem;
    color: hsl(0, 0%, 100%);
}
span:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.attribution {
    font-size: 11px; text-align: center;
    color: hsl(0, 0%, 100%);
}

.attribution a {
    font-size: 11px;
    color: hsl(178, 100%, 50%);
}

@media (min-width:375px) {

}