@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
    font-size: 16px;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Mobile */ 
main {
    max-width: 325px;
    height: 540px;
    background-color: hsl(216, 50%, 16%);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
a:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/* Main image */
figure {
    position: relative;
    display: block;
}
figure > img {
    display: block;
    max-width: 100%;
    border-radius: 0.5rem;
}
.view-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    border-radius: 0.5rem;
    background-color: hsla(178, 100%, 50%, 0.5);
}
.view-img:hover {
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Text */
h1 a {
    font-size: 1.3rem;
}

p {
    color: hsl(215, 51%, 70%);
    line-height: 1.5;
}

/*Price details */
.price-container {
    display: flex;
    justify-content: space-between;
}
.ethereum {
    display: flex;
    color: hsl(178, 100%, 50%);
    font-size: 0.9rem;
    background: url(./images/icon-ethereum.svg);
    background-repeat: no-repeat;
    padding-left: 1.15rem;
    background-size: 0.75rem;
    background-position: left center;
}

.time-left {
    display: flex;
    background: url(./images/icon-clock.svg);
    background-repeat: no-repeat;
    padding-left: 1.5rem;
    background-size: 1.15rem;
    background-position: left center;
}

hr {
    border: none;
    border-top: 1px solid hsl(215, 32%, 27%);
}

/* Author details */
.author-container {
    display: flex;
    align-items: center;
}
.author-container img {
    max-width: 35px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}
.author-container p {
    margin-left: 1rem;
    font-size: 0.9rem;
}
.author-container a {
    font-size: 0.9rem;
}

/* Footer */ 
.attribution {
    font-size: 11px; text-align: center;
    color: hsl(0, 0%, 100%);
}

.attribution a {
    font-size: 11px;
    color: hsl(178, 100%, 50%);
}